/* ********* Reset ********* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    line-height: normal;
}


/* ********* Custom Properties***** */
:root {
    --main-color: #ffd8cb;
    --font: 'Montserrat', sans-serif;
}

/***************** Header style *************/
.header {
    background-color: var(--main-color);
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;

}

.navPrincipal {
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

/* Esta media query es para que no se rompa el header antes de convertirse en menu hamburguesa  */
@media all and (max-width: 1444px) {
    .navPrincipal {
        width: 99%;
    }
}
/* Esto es para que cuando se convierta en menu hamburguesa el header width sea mas pequeño */
@media all and (max-width: 1024px) {
    .navPrincipal {
        width: 70%;
    }
}

.content-logo {
    height: 100%;
    display: flex;
}

.header__link {
    height: 140px;
    width: auto;
}
/* Para que la imagen logo se haga pequeño */
@media all and (max-width: 1024px) {
    .header__link {
        height: 90px;
        width: auto;
    }

}

.header__link__logo {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

/* correccion de bootstrap */
img {
    vertical-align: baseline;
}

/* fin correccion de bootstrap */



.headercart__link i {
    color: black;
}

.buscaricon {
    width: 10px;
    height: 10px;
}

.content-login-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-menu {
    display: flex;
    padding-right: 32px;
    margin-bottom: 0;
}

.mobile-button {
    border-radius: 3px;
    font-size: 32px;
    padding: 2.5px 8px;
    color: white;
    background-color: #151515;
    border: none;
    display: none;
}

.mobile-button:hover {
    color: black;
    background: white;
    transition: 0.3s;
}

.nav-toggle {
    border-radius: 3px;
    font-size: 32px;
    padding: 2.5px 8px;
    color: white;
    background-color: #151515;
    border: none;
    display: none;
}

.nav-toggle:hover {
    color: black;
    background: white;
    transition: 0.3s;
}

.nav-menu li {
    list-style: none;
    margin: 4px;
    padding: 0 8px;
}

.nav-search-container {
    display: flex;
    align-items: flex-end;
    height: 50%;
}
/* Para que la caja div del header pueda centrar los iconos de cart, usuario, search y menu hamburguesa */
@media all and (max-width: 1024px)
{
    .nav-search-container {
        height: 100%;
        width: 80%;
    }
}

.navegacion_mobile {
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    display: none;
}
/* Muestra caja contenedora de botones nav principal vista mobile (lo pongo en none para poder hacer el layout del header en desktop) */
@media all and (max-width:1024px) {
    .navegacion_mobile {
        display: flex;
    }
}


.login-cart-container {
    display: flex;
    align-items: flex-end;
    height: 50%;
}

.header__login {
    padding-right: 16px;
    text-decoration: none;
    color: black;
}

.btn-search {
    background-color: transparent;
    border: 1px black solid;
    padding: 2px 4px;
    width: 32px;
    cursor: pointer;
    margin: 4px;
    border-radius: 5px;
}

.search-input {
    margin: 4px;
    padding: 2px;
    border: none;
    border-bottom: 1px black solid;
    width: 70%;
    background: transparent;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-weight: 600;
    padding: 0 2px;
}

.nav-menu li a:hover {
    /* border-bottom: 2px solid white; */
    /* outline: 2px solid white ; */
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;   
}

.current-page {
    border-bottom: 2px solid black;
}

.hamburguesa-btn {
    display: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
    position: relative;

}


/****** Header Breakpoints nav mobile********/
@media all and (max-width: 1024px) {

    .login-cart-container {
        display: none;
    }

    .formulario_search {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .mobile-button {
        display: block;
    }

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: gray;
        position: fixed;
        top: 150px;
        width: 100%;
        padding: 20px 0;
        display: flex;
        height: auto;
        overflow-y: auto;
        left: 100%;
        transition: 1s;
        
    }

    .nav-menu_visible {
        left: 0;
        /* display: none; */
        background-color: rgb(255, 255, 255);       
    }

    
}

/**************** End Header Style ************/

body {
    background-color: black;
}

/************** MAIN Style *******************/

.main {
    padding-top: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;

}

.main-containter {
    width: 70%;
    background-color: white;
}
/* Hago la seccion main mas grande para poder visualizar los elementos mejor */
@media all and (max-width: 1024px) {
    .main-containter {
        width: 90%;
    }
}
/*********** Main banner **********/
.containter-main-banner {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background: url(img/carousel1.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: 40%;
    padding-left: 20px;
}
/* centrado de imagen banner principal */
@media all and (max-width: 1024px) {
    .containter-main-banner {
        background-position-x:65%;
    
    }
}

.p-banner {
    font-family: 'Lato', sans-serif;
    color: #9b9b9b;
    font-size: 16px;
    max-width: 400px;
}

.readMore_btn {
    margin-top: 10px;
    min-width: 120px;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    border: 2px solid #ffd8cb;
    background: #ffd8cb;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.readMore_btn:hover {
    background: #fff;
    color: #f7c2b0;
}

/*********** END Main banner **********/
/*********** Categorys style**********/

/* cambia elementos de la seccion category para vista mobile */
@media all and (max-width: 768px)  {

    .grid_category {
        display: none !important;
    }

    .grid_category_mobile {
        display: flex !important;
    }
    
    
}

.grid_category_mobile {
    
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

.img_category_container {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.img_category_container img {
    height: 100%;
    width: auto;
    object-fit: cover;
    position: absolute;
}

.mobile_category {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.grid_category_mobile a {
    text-decoration: none;
    color: #151515;
}
.mobile_category span {
    font-weight: bold;
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

.grid_category {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}


.category1 {
    grid-area: 1 / 1 / 4 / 3;
}

.category2 {
    grid-area: 4 / 1 / 6 / 4;
}

.category3 {
    grid-area: 1 / 3 / 4 / 5;
}

.category4 {
    grid-area: 4 / 4 / 6 / 5;
}

.category1 {
    background-color: #f7c2b0;
    border-radius: 5px;
    background-image: url(img/maquillaje.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.grid_category a div {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 2%;
    box-shadow: 0 0 25px #222;
    backdrop-filter: invert(80%) blur(1px);

}

.grid_category a div:hover {
    backdrop-filter: invert(0%) blur(5px);
    transition: 1s;
    color: black;
    padding: 3%;
}


.category2 {
    border-radius: 5px;
    background-image: url(img/esmaltes.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.category3 {
    border-radius: 5px;
    background-image: url(img/nails.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.category4 {
    border-radius: 5px;
    background-image: url(img/pestania2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.h2_categorias {
    margin: 10px 0;
    color: #151515;
    font-size: 48px;
    line-height: 1.4;
    text-align: center;
}

.line_categorias {
    width: 150px;
    margin: 20px auto;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #ffd8cb;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    opacity: 1;
}

.p_categorias_containet {
    width: 100%;
    display: flex;
    justify-content: center;
}

.p_categorias {
    width: 70%;
    font-family: sans-serif;
    color: #9b9b9b;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 15px;
}

/*********** END Categorys style**********/
/*********** flexbox Productos ***********/

.section_producto_container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.producto_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
}

.product_card {
    width: 368px;
    height: 465px;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    border: white 3px solid;
    transition-duration: 0.4s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.product_card:hover {
    border: #acacac 3px solid;
}


.producto-image {
    width: 90%;
    height: 200px;
    margin: 20px auto;
}

.producto-image img {
    width: auto;
    height: 100%;
    transition: 0.2s;
}

.producto-image img:hover {
    transform: scale(1.05);

}

.product-info h2 {
    font-size: 18px;
    padding: 0 25px;
    margin-bottom: 10px;
    height: 44px;
    line-height: normal;
    font-weight: bold;
}

.product-btn {
    width: 90%;
    margin: 0 auto;
}

.product-link {}


.product-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 0;
    width: 90%;
    height: 43px;
    text-decoration: none;
    color: #f7c2b0;
    transition: 0.3s;
    height: auto;
    border: #f7c2b0 2px solid;
    font-weight: bold;

}

.product-link:hover {
    background-color: #f7c2b0;
    color: black;
    font-weight: bold;
}


.product-btn button {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    background: #f7c2b0;
    border: 2px solid #f7c2b0;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.product-btn button:hover {
    background: white;
    border: 2px solid #f7c2b0;
    color: #f7c2b0;
}

/************** END MAIN Style *******************/

/**************FOOTER Style*****************/

.footer {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

footer {
    box-shadow: 1px 10px 28px -4px rgba(255, 216, 203, 0.73);
    -webkit-box-shadow: 1px 10px 28px -4px rgba(255, 216, 203, 0.73);
    -moz-box-shadow: 1px 10px 28px -4px rgba(255, 216, 203, 0.73);
}

.footer_container {

    width: 70%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

.col {
    min-width: 250px;
    color: rgb(78, 78, 78);
    /* padding: 0 2rem; */
    max-width: 380px;

}

.col h3 {
    color: black;
    font-size: 21px;
    padding-top: 10px;
}

.sm-icons li {
    display: inline-block;
    margin: 5px;
}

.sm-icons li a i {
    color: #f7c2b0;
    font-size: 20px;
}

.sm-icons li a i:hover {
    color: #151515;
}

/* correccion para bootstrap */
ul {
    padding-left: 0;
}

/* fin correccion para bootstrap */

.navegacion-list li,
.info-contacto-list li {
    list-style: none;
}

.navegacion-list li a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.navegacion-list li a:hover {
    text-decoration: underline;
    background-color: #d8d8d8;
}

.info-contacto-list li i {
    color: #f7c2b0;
}

.line_footer {
    max-width: 100%;
    width: 90px;
    margin: 10px 0;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #ffd8cb;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    opacity: 1;
}

.email_enviar_btn {
    margin-top: 10px;
    color: black;
    padding: 1px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    border: 1px solid black;
    background: #ffd8cb;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.email_enviar_btn:hover {
    background: black;
    color: white;
    border: 1px solid #f7c2b0;
}

/***********FOOTER copy***********/

.footer_copy {
    display: flex;
    color: rgb(34, 33, 33);
    justify-content: center;
    align-items: center;
    min-height: 61px;
    flex-wrap: wrap;
    background-color: #f6f6f6;
}

.logo-leon {
    width: 70px;
}
/* elimina imagen logo del footer para mobile */
@media all and (max-width: 768px)
{
    .logo-leon {
        display: none;
    }
    .footer_copy small {
        text-align: center;
    }
}

/*********** END FOOTER copy***********/

/****************** MAIN Preguntas frecuentes *****************/

.preguntas_introinfo p {
    margin: 15px;
    text-align: center;
    font-size: 24px;
}

.preguntas_introinfo p a {
    color: #f7c2b0;
}


.preguntas_section {
    padding-top: 24px;
    display: flex;
    margin: 8px 0;

}

.contenedor_side_info {
    
    width: 50%;
    height: auto;
    padding-left: 24px;
}

.preguntas_container {
    
    width: 50%;
    height: auto;

}

.preguntas_frec_headings h2{
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
}

.preguntas_info p {
    font-size: 14px;
}

.accordion-body {
    font-size: 14px;
}

.color_p_custom {
    color:#f3906f;
}

.shadow-custom {
  
    width: 90%;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

.color-custom-btn:hover {
    background-color: #151515;
    color: white;
    
}

.color-custom-btn:focus {
    box-shadow: none;
    outline: #f3906f 1px solid;
    
}

.color-custom-btn:not(.collapsed) {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #151515;
    border-radius: 25px;

}

.border-radius-btn {
    border-radius: 25px !important;
}
.color-custom-btn {
    border-radius: 25px !important;
}